body{
    position: relative;
    background-color: white;
    width: 1500px;
    height: 3000px; 
    left: calc(50% - 1500px/2);
    margin: 0;
}

body p {
    font-family: Open Sans;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.2px;

}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.blue_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background: #00A4E5;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;

    color: #FFFFFF;
}
.logo {
    position: absolute;
    width: 120px;
    height: 25px;

    background-image: url("images/projeco-logo.png");
    background-size: cover;

}



header {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1500px; 
    height: 800px;

    background-image: url('images/header.png');
    background-size: cover;
}

header .logo { 
    top: 40px;
}
header h1{
    display: flex;
    align-items: flex-end;
    height: 400px;
    margin: 0;
    
    font-family: BebasNeueBold;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 6px;
    color: #FFFFFF;

}

header p { 
    display: flex;
    align-items: flex-start;
    height: 300px;
    top: 400px; 
    margin: 0;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    
    color: #FFFFFF;
}

header h4 {
    display: flex;
    align-items: flex-start;
    height: 100px;
    top: 700px; 
    margin: 0;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 15px;
    letter-spacing: 3.7px;

    color: #FFFFFF;
    }

nav {
    position: absolute;
    width: 1500px;
    height: 65px;
    top: 800px;
    background: white;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.logo_black {
    position: absolute;
    width: 120px;
    height: 25px;
    left: 200px;
    top: 15px;

    background-image: url("images/projeco-logo-black.png");
    background-size: cover;

}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
}

nav a {
    margin-left: 45px;
 
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #48555B;
}

.ourstory { 
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 100px;
    left: 430px;
    top: -100px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 2px;
    color: #48555B;

}

.blue_line{
    width: 110px;
    height: 2px;
    border: 1px solid #00A4E5;
    background-color: #00A4E5;
}

section {
    position:absolute;
    margin: 0px 200px 0px 200px;
}

.section_1 {
    display: flex;
    width: 1100px;
    height: 350px;
    top: 1000px;
}

.art_1 {
    position: absolute; 
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    left: 0px;
    top: 0px

}

.art_1 h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.2px;

    color: #48555B;

}
.art_1 p {
    color: #48555B;
}

.art_2 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 600px;
    height: 300px;
    margin-left: 500px;
    margin-top: 50px;
}

.art_2 div {
    width: 160px;
    height: 270px;
}

.plan {
    background-image: url("images/plan.png");
}

.manage {
    background-image: url("images/manage.png");
}

.build {
    background-image: url("images/build.png");
}

.art_2 h1 {
    position: absolute;
    width: 68px;
    height: 58px;
    margin-left: 15px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.2px;

    color: #FFFFFF;

}.section_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    top:1400px;
    height: 100px;
}

.ourcapabilities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 340px;
    height: 100px;
}
.ourcapabilities h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 2px;
    color: #48555B;
}

.section_2 p {
    width: 570px;
    color: #48555B;
}

.section_3 {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 340px;
    top: 1550px;

}

.section_3 article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 350px;
    padding: 20px;

    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    

}
.section_3 div {
    width: 67.5px;
    height:76px;
    background-size: cover;

}

.img1 {
    background-image: url("images/11.png");
}

.img2 {
    background-image: url("images/2.png");
}

.img3 {
    background-image: url("images/3.png");
}

.section_3 a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.4px;

    color: #48555B;

}

.section_3 p {
    color: #48555B;

}

.section_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 600px;
    top: 1890px;
    margin: 0px;

    background-image: url("images/43cb5b04fc1cbc2392456c0c0cb836a7.png");
    background-size: cover;
}

.section_4 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 200px;

}
.section_4 h1 {

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;

    color: #48555B;

}

.section_5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 100px;
    top: 2490px;
    margin-left: 0px;
    margin-right: 0px;
    
    background-color: black;
    color: white;
}

.section_5 h1 {
    padding-right: 70px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.8px;

    color: #FFFFFF;
}

form {
    display: flex;
}
.section_5 input{ 
    display: flex;
    align-items: center;
    width: 250px;
    height: 40px;
    padding-left: 10px;

    background-color: #FFFFFF;
    color: #48555B;
    border: 1px solid #979797;
    box-sizing: border-box;

}
footer {
    position: absolute;
    width: 1500px;
    height: 260px;
    top: 2590px;
   background-color: #141A20; 
    color: white; 
}
.section_foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: 260px;
    
}

.section_foot article {
    display: flex;
    flex-direction: column ;
    width: 290px; 
    height: 260px;

}

.section_foot h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0.8px;
}

.section_foot h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.8px;

    color: white;

}
#art1 {
    justify-content: space-between;
    align-items: flex-start;
    width: 25%; 
}

#art1 .logo {
    top: 60px;
}

#art2 {
    justify-content: flex-start;
    align-items: center;
    width: 20%; 
}

#art3 {
    justify-content: center;
    align-items: flex-start;
    width: 10%; 
    padding-left: 20px;
}

#art4 {
    justify-content: space-between;
    align-items: flex-start;
    width: 25%; 
}

#art5 {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 10%;
    height: 170px; 
    margin-left: 40px;
    margin-top: 80px;
    
}
.copirating {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 80px;
    top: 260px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.8px;

    background-color: black;
    color: white;
}

span {
    color: #00A4E5;
} 